@content-color: #f7f7fa;
@colspan12-space: 8px;

p {
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

label {
  display: block;
  padding-left: 2px;
  margin-bottom: 2px;
}

.di-mb-16 {
  margin-bottom: 16px !important;
}

.di-top-16 {
  top: 16px !important;
}

.di-top-32 {
  top: 32px !important;
}

.di-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.di-colspan-12 {
  &:first-child {
    padding-right: @colspan12-space;
  }

  &:last-child {
    padding-left: @colspan12-space;
  }
}

.di-admin-content-container {
  background-color: @content-color;

  .di-admin-content {
    padding: 24px 32px 32px;
  }
}
