@content-color: #f7f7fa;
@error-color: rgb(249, 61, 61);
@error-hover-color: rgb(198, 44, 44);

@colspan12-space: 8px;
@input-helper-space: 2px;

p {
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

label {
  display: block;
  padding-left: @input-helper-space;
  margin-bottom: @input-helper-space;
}

.di-input-helper,
.di-select-helper {
  display: block;
  color: @error-color;
  padding-left: @input-helper-space;
  margin-top: @input-helper-space;
}

.di-mb-16 {
  margin-bottom: 16px !important;
}

.di-top-16 {
  top: 16px !important;
}

.di-top-32 {
  top: 32px !important;
}

.di-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.di-colspan-12 {
  &:first-child {
    padding-right: @colspan12-space;
  }

  &:last-child {
    padding-left: @colspan12-space;
  }
}

.di-admin-content-container {
  background-color: @content-color;

  .di-admin-content {
    padding: 24px 32px 32px;
  }
}

.di-input-error,
.di-select-error {
  border: 1px solid @error-color;
  transition: border-color ease-in-out 0s !important;

  &:hover {
    border: 1px solid @error-hover-color  !important;
  }
}
